.showcase-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    min-height: 100px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid #ddd;
}
.checkbox {
    margin-right: 10px,
}

.label {
    padding: 30px 20px 10px;
    text-align: left;
    font-size:large;
    border-bottom: 1px dotted #5a855f;
    border-top: 2px solid #5a855f;
}

.task-title, .task-description {
    width: 25vw;  
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: medium;
    text-align: center;
}

.task-title {
    font-weight: bold;
}